body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
}

nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(181, 179, 179);
  background-color: rgb(192, 192, 255);
  position: relative;
  z-index: 5;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  margin: 0 10px;
}

.navToggle {
  display: none;
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
  border: 0;
  background-color: rgb(192, 192, 255);
}

.navClosed .navToggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 0.8px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.navOpened .navToggle::before,
.navOpened .navToggle::after {
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  width: 22px;
  height: 1px;
  background-color: #000000;
}

.navOpened .navToggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.navOpened .navToggle::after {
  transform: rotate(-45deg);
}

.menu {
  display: flex;
  align-items: baseline;
}

.cart {
  position: absolute;
  top: 100%;
  right: 0;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: rgba(234, 234, 248, 0.98);
  border: 1px solid rgb(181, 179, 179);
  border-radius:2px;
  width: 35%;
  padding: 10px;
  animation: appearCart .4s ease-in-out;
}

@keyframes appearCart {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  } 
}


.cart h3 {
  text-align: center;
}

.cartItemWrapper {
  border-bottom: 1px solid rgb(181, 179, 179);
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cartItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.cartItemBook {
  display: flex;
  align-items: center;
}

.cartItemBook p {
  font-size: 0.90rem;
}

.bookNameCart {
  font-weight: bold;
  width: 175px;
}

.bookImgCart {
  width: 65px;
  height: 100px;
  margin: 10px;
}

.cartItemPriceQuantityDetails {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icon {
  width: 25px;
  cursor: pointer;
}

.cartItemInput {
  font-family: 'Raleway', sans-serif;
  width: 52px;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 7px;
}

.cartItemPrice {
  margin: 0;
  width: 70px;
}

.delete {
  width: 20px;
}

.cartTotal h3 {
  padding: 0;
  margin: 0;
}

.cartTotal {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cartButtons {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.iconFavorites {
  margin-right: 15px;
}

.logo {  
  text-decoration: none;
}

h1 {
  font-size: 29px;
  color: #000000;
  text-shadow: 1px 1px 2px rgb(181, 179, 179);
}

h1 span {
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}

.link {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 20px;
  color: #000000;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1240px;
  position: relative;
}

.bookWrapper {
  display: flex;
  flex-direction: column;
  width: 205px;
  margin: 20px;
}

.imgWrapper {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.buyButtonsWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 205px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  animation: appear .4s ease-in-out;
}

@keyframes appear {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  } 
}

.buyButtonsWrapper button,
.cartButtons button,
.emptyWishlist,
.wishlistAddToCartBtn {
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  background-color: #ffffff;
  border: 3px solid rgb(203, 203, 254);
  border-radius: 2px;
}

.buyButtonsWrapper button:first-child, 
.cartButtons button:first-child,
.wishlistAddToCartBtn {
  margin-bottom: 10px;
  background-color: rgb(203, 203, 254);
  font-weight: bold;
}

.wishlistAddToCartBtn {
  margin-bottom: 0;
}

.cartButtons button:first-child {
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 1.05em;
}

.cartButtons button,
.emptyWishlist {
  letter-spacing: 1px;
}

.buyButtonsWrapper button:hover,
.buyButtonsWrapper button:focus,
.cartButtons button:hover,
.cartButtons button:focus,
.emptyWishlist:hover,
.emptyWishlist:focus {
  border-color: rgb(171, 171, 248);
}

.buyButtonsWrapper button:active,
.cartButtons button:active,
.emptyWishlist:active {
  background-color: rgb(234, 234, 248);
}

.buyButtonsWrapper button:first-child:hover,
.buyButtonsWrapper button:first-child:focus,
.cartButtons button:first-child:hover,
.cartButtons button:first-child:focus,
.wishlistAddToCartBtn:hover,
.wishlistAddToCartBtn:focus {
  border-color: rgb(171, 171, 248);
  background-color: rgb(171, 171, 248);
}

.buyButtonsWrapper button:first-child:active,
.cartButtons button:first-child:active,
.wishlistAddToCartBtn:active {
  border-color: rgb(168, 168, 250);
  background-color: rgb(168, 168, 250);
  box-shadow: 0px 0px 5px 3px rgb(234, 234, 248);
}

.bookWrapper:hover .buyButtonsWrapper {
  display: flex;
}

.bookName {
  font-size: 1.2rem;
  font-weight: bold;
  min-height: 48px;
  color: black;
  overflow-wrap: break-word;
}

.bookImg {
  width: 205px;
  height: 350px;
}

.bookAuthor {
  margin: 5px 0;
}

.bookPrice {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0;
}

.bookAddedPhrase {
  background-color: #ffffff;
  font-size: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin: 0;
  padding: 50px 40px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 3px rgb(192, 192, 255); 
  text-align: center;
}

.modalAddedBookName {
  font-weight: bold;
}

.showModal {
  display: block;
}

.hideModal {
  display: none;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px;
}

.btn {
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: rgb(224, 224, 248);
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.genreSelected {
  font-weight: bold;
  background-color: rgb(203, 203, 254);
}

.btn:hover,
.btn:focus {
  background-color: rgb(234, 234, 248);
}


/* wishlist */
.wishlistContainer {
  display: flex;
  flex-direction: column;
  width: 1240px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.wishlistContainer h2 {
  text-align: center;
  margin-bottom: 30px;
}

.wishlistItem {
  display: flex;
  align-items: flex-start;
  /* align-items: center; */

  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.wishlistItemBook {
  display: flex;
}

.wishlistItemBook p {
  font-size:  1.2rem;
}

.bookNameWishlist {
  font-weight: bold;
  width: 400px;
}

.wishlistItemOrder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-top: 10px;
}

.wishlistItemOrder p {
  margin: 0;
  font-size:  1.2rem;
}

.wishlistItemOrderDetails {
  display: flex;
  align-items: center;
}

.wishlistAddToCartBtn {
  margin-right: 10px;
}

.emptyWishlist {
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}


/* ABOUT page */
.wrapperAbout {
  padding: 20px;
}

.textAbout {
  font-size: 1.2rem;
  line-height: 1.5;
}

.showBtn {
  background-color: transparent;
  border: none;
  color: rgb(176, 176, 254);
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  cursor: pointer;
}

.imgAbout {
  display: block;
  margin: 0 auto;
}

.wrapperContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapperStore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.address {
  margin: 20px 0 10px;
  font-size: 1.3rem;
  min-height: 48px;
}

.phone {
  margin: 0px 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.btnContactWrapper {
  width: 603px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1280px) {
  .navWrapper,
  .container,
  .wishlistContainer {
    width: 960px;
  }

  .bookWrapper {
    width: 190px;
    margin: 25px;
  }

  .buyButtonsWrapper {
    width: 190px;
  }

  .bookImg {
    width: 190px;
    height: 315px;
  }

  .cart {
    width: 40%;
  }
}

@media (max-width: 1050px) {
  .navWrapper,
  .container,
  .wishlistContainer {
    width: 750px;
  }

  .bookWrapper {
    margin: 30px;
  }

  .cart {
    width: 45%;
  }

  .cart h3 {
    font-size: 1.05em;
  }

  .bookNameCart {
    width: 140px;
  }

  .bookImgCart {
    width: 60px;
    height: 90px;
  }

  .cartItemBook p {
    font-size: 0.80rem;
  }

  .cartItemInput {
    width: 42px;
    padding: 5px;
  }

  .cartItemPrice {
    font-size: 0.85rem;
    width: 60px;
  }

  .cartTotal h3 {
    font-size: 17px;
  }

  .cartButtons button {
    font-size: 13px;
  }

  .cartButtons button:first-child {
    font-size: 14px;
  }

  .wishlistContainer h2 {
    font-size: 1.3em;
  }

  .wishlistItemBook p {
    font-size: 1.1rem;
  }

  .imgAbout {
    width: 780px;
  }

  .bookAddedPhrase {
    width: 350px;
    padding: 40px 30px;
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .navWrapper,
  .container,
  .wishlistContainer {
    width: 525px;
  }

  .link {
    font-size: 1.1em;
    padding: 20px 10px;
  }

  .icon {
    width: 20px;
  }

  .iconFavorites {
    margin-right: 10px;
  }

  .bookWrapper {
    width: 145px;
    margin: 15px;
  }

  .buyButtonsWrapper {
    width: 145px;
    padding: 7px;
  }

  .buyButtonsWrapper button:first-child {
    margin-bottom: 7px;
  }

  .buyButtonsWrapper button {
    font-size: 12px;
    padding: 5px;
    border-width: 2px;
  }

  .bookName, 
  .bookPrice {
    font-size: 1.1em;
  }

  .bookAuthor {
    font-size: 0.9em;
  }

  .bookImg {
    width: 145px;
    height: 238px;
  }

  .btn {
    margin: 5px;
  }

  .cart {
    right: 10%;
    left: 10%;
    width: auto;
    animation: appearCartTablet .4s ease-in-out;
  }

  @keyframes appearCartTablet {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    } 
  }

  .bookNameCart {
    width: 200px;
  }

  .wishlistItemOrder {
    width: 200px;
  }

  .wishlistItemBook p {
    font-size: 0.9rem;
  }

  .wishlistItemOrder p {
    font-size: 1rem;
  }

  .bookNameWishlist {
    font-weight: bold;
    width: 170px;
  }

  .textAbout {
    font-size: 1.1rem;
  }

  .imgAbout {
    width: 540px;
  }

  .wrapperStore {
    width: 525px;
  }

  iframe {
    width: 525px;
  }

  .address {
    min-height: 42px;
  }

  .address,
  .phone {
    font-size: 1.1rem;
  }

  .btnContactWrapper {
    width: 525px;
  }

  .bookAddedPhrase {
    width: 300px;
    padding: 40px 30px;
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .cart {
    right: 8%;
    left: 8%;
  }
}

@media (max-width: 580px) {
  .navWrapper {
    width: 390px;
  }

  .container{
    width: 370px;
  }

  h1 {
    font-size: 25px;
  }

  .link {
    font-size: 1.05em;
    padding: 20px 5px;
  }

  .bookWrapper {
    width: 145px;
    margin: 20px;
  }
  
  .buyButtonsWrapper button {
    font-size: 11px;
  }

  .bookPrice {
    font-size: 1em;
  }

  .bookName {
    font-size: 1em;
    min-height: 58px;
  }

  .btnWrapper {
    width: 440px;
    align-items: stretch;
    margin: 0 auto;
  }

  .btn {
    box-sizing: border-box;
    align-self: center;
    padding: 10px;
    min-height: 52px;
  }

  .cart {
    right: 4%;
    left: 4%;
  }

  .bookNameCart {
    width: 150px;
  }

  .wishlistContainer {
    width: 440px;
  }

  .wishlistContainer h2 {
    font-size: 1.2em;
  }

  .wishlistItemBook p {
    font-size: 0.85rem;
  }

  .wishlistItemOrder {
    width: 155px;
  }

  .wishlistItemOrder p {
    font-size: 0.9rem;
  }
  
  .wishlistAddToCartBtn {
    font-size: 12px;
    width: 70px;
    padding: 5px;
  }

  .wishlistItemOrder {
    font-size: 12px;
  }

  .textAbout {
    font-size: 1rem;
  }

  .wrapperContact h3 {
    font-size: 1.05rem;
  }

  .imgAbout,
  .wrapperStore,
  .btnContactWrapper {
    width: 420px;
  }

  .btnContactWrapper button {
    min-height: auto;
    margin: 0;
  }

  iframe {
    width: 420px;
    height: 300px;
  }

  .address,
  .phone {
    font-size: 1rem;
  }

  .showBtn {
    font-size: 0.95rem;
  }
  
  .bookAddedPhrase {
    width: 200px;
    padding: 30px 20px;
    font-size: 14px;
  }

  .navToggle {
    display: block;
  }

  .navClosed .mainMenu {
    display: none;
  }

  .menu {
    align-items: center;
  }

  .mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(224, 224, 248);
    padding: 0; 
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
  }

  .link {
    /* border-bottom: 1px solid grey; */
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}

/* @media (max-width: 460px) {
  доделать!
} */
