body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow: scroll;
}

nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(181, 179, 179);
  background-color: rgb(192, 192, 255);
  position: relative;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  margin: 0 10px;
}

.menu {
  display: flex;
  align-items: baseline;
}

.cart {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: lightblue;
  width: 40%;
  padding: 10px;
}

.cart h3 {
  text-align: center;
}

.cartItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.cartItemBook {
  display: flex;
}

.cartItemBookDetails {
  width: 300px;
}

.bookImgCart {
  width: 70px;
  height: 120px;
  margin: 10px;
}

.bookNameCart {
  font-size: 1.1rem;
  font-weight: bold;
}

.cartItemPriceQuantityDetails {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icon {
  width: 25px;
  cursor: pointer;
}

.cartItemInput {
  font-family: 'Raleway', sans-serif;
  padding: 7px;
  margin-right: 10px;
}

.cartItemPrice {
  margin: 0;
  width: 70px;
}

.cartTotal h3 {
  padding: 0;
  margin: 0;
}

.cartTotal {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.checkoutBtn {
  padding: 20px;
  align-self: center;
  font-size: 1.05em;
  letter-spacing: 1px;
}

.iconFavorites {
  margin-right: 15px;
}


h1 {
  font-size: 29px;
  color: #000000;
  text-shadow: 1px 1px 2px rgb(181, 179, 179);
}

h1 span {
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}

.link {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 20px;
  color: #000000;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1240px;
}

.bookWrapper {
  display: flex;
  flex-direction: column;
  width: 205px;
  margin: 20px;
}

.imgWrapper {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.buyButtonsWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 205px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  animation: appear .4s ease-in-out;
}

@keyframes appear {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  } 
}

.buyButtonsWrapper button,
.checkoutBtn {
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  background-color: #ffffff;
  border: 3px solid rgb(203, 203, 254);
  border-radius: 2px;
}

.buyButtonsWrapper button:first-child, 
.checkoutBtn {
  margin-bottom: 10px;
  background-color: rgb(203, 203, 254);
  font-weight: bold;
}

.buyButtonsWrapper button:hover,
.buyButtonsWrapper button:focus {
  border-color: rgb(171, 171, 248);
}

.buyButtonsWrapper button:first-child:hover,
.buyButtonsWrapper button:first-child:focus,
.checkoutBtn:hover,
.checkoutBtn:focus {
  border-color: rgb(171, 171, 248);
  background-color: rgb(171, 171, 248);
}

.bookWrapper:hover .buyButtonsWrapper {
  display: flex;
}

.bookName {
  font-size: 1.2rem;
  font-weight: bold;
  min-height: 48px;
  color: black;
  overflow-wrap: break-word;
}

.bookImg {
  width: 205px;
  height: 350px;
}

.bookAuthor {
  margin: 5px 0;
}

.bookPrice {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0;
}

.bookAddedPhrase {
  background-color: red;
  font-size: 20px;
  position: fixed;
  width: 300px;
  height: 100px;
}

/* .bookAddedWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba((0,0,0,0),0.15);
  z-index: 3;
} */

.show {
  opacity: 1;
}

.hide {
  opacity: 0
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px;
}

.btn {
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: rgb(224, 224, 248);
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.genreSelected {
  font-weight: bold;
  background-color: rgb(203, 203, 254);
}

.btn:hover,
.btn:focus {
  background-color: rgb(234, 234, 248);
}

/* ABOUT page */
.wrapperAbout {
  padding: 20px;
}

.textAbout {
  font-size: 1.2rem;
  line-height: 1.5;
}

.showBtn {
  background-color: transparent;
  border: none;
  color: rgb(176, 176, 254);
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  cursor: pointer;
}

.imgAbout {
  display: block;
  margin: 0 auto;
}

.wrapperContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapperStore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.address {
  margin: 20px 0 10px;
  font-size: 1.3rem;
}

.phone {
  margin: 0px 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.btnContactWrapper {
  width: 603px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1280px) {
  .navWrapper,
  .container {
    width: 960px;
  }

  .bookWrapper {
    width: 190px;
    margin: 25px;
  }

  .buyButtonsWrapper {
    width: 190px;
  }

  .bookImg {
    width: 190px;
    height: 315px;
  }
}

@media (max-width: 1050px) {
  .navWrapper,
  .container {
    width: 750px;
  }

  .bookWrapper {
    margin: 30px;
  }
}

@media (max-width: 800px) {
  .navWrapper,
  .container {
    width: 525px;
  }

  .link {
    font-size: 1.1em;
    padding: 20px 10px;
  }

  .icon {
    width: 20px;
  }

  .iconFavorites {
    margin-right: 10px;
  }

  .bookWrapper {
    width: 145px;
    margin: 15px;
  }

  .buyButtonsWrapper {
    width: 145px;
    padding: 7px;
  }

  .buyButtonsWrapper button:first-child {
    margin-bottom: 7px;
  }

  .buyButtonsWrapper button {
    font-size: 12px;
    padding: 5px;
    border-width: 2px;
  }

  .bookName, 
  .bookPrice {
    font-size: 1.1em;
  }

  .bookAuthor {
    font-size: 0.9em;
  }

  .bookImg {
    width: 145px;
    height: 238px;
  }

  .btn {
    margin: 5px;
  }
}

@media (max-width: 580px) {
  .navWrapper {
    width: 390px;
  }

  .container {
    width: 370px;
  }

  h1 {
    font-size: 25px;
  }

  .link {
    font-size: 1.05em;
    padding: 20px 5px;
  }

  .bookWrapper {
    width: 145px;
    margin: 20px;
  }
  
  .buyButtonsWrapper button {
    font-size: 11px;
  }

  .bookPrice {
    font-size: 1em;
  }

  .bookName {
    font-size: 1em;
    min-height: 58px;
  }

  .btnWrapper {
    width: 440px;
    align-items: stretch;
    margin: 0 auto;
  }

  .btn {
    box-sizing: border-box;
    align-self: center;
    padding: 10px;
    min-height: 52px;
  }
}

/* @media (max-width: 460px) {
  доделать!
} */
